{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="mb-4 article-detail-title">{{ article.title }}</h1> <!-- Додано клас article-detail-title -->
<p class="text-muted">Опубліковано: {{ article.pub_date|date:"d M Y" }}</p>
<p>{{ article.description }}</p>

<!-- Галерея Fotorama -->
{% if article.images.all %}
<div class="fotorama" data-nav="thumbs" data-autoplay="true">
    {% for image in article.images.all %}
    <img src="{{ image.image.url }}" alt="{{ image.title }}" data-caption="{{ image.title }}">
    {% endfor %}
</div>
{% endif %}

<a href="{% url 'article_list' %}" class="btn btn-secondary mt-4">Повернутись до списку статей</a>
{% endblock %}