<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Список статей</title>
</head>
<body>
    <h1>Список статей</h1>

    <!-- Випадаючий список для категорій -->
    <form method="get" action="{% url 'article_list' %}">
        <label for="category">Виберіть категорію:</label>
        <select name="category_slug" id="category" onchange="this.form.submit()">
            <option value="">Усі категорії</option>
            {% for category in categories %}
                <option value="{{ category.slug }}" {% if category.slug == request.GET.category_slug %}selected{% endif %}>
                    {{ category.category }}
                </option>
            {% endfor %}
        </select>
    </form>

    <!-- Список статей -->
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    <p>{{ article.pub_date|date:"d M Y" }}</p>
                    <p>{{ article.description|truncatechars:100 }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Немає статей для відображення.</p>
    {% endif %}

    <!-- Пагінація -->
        
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; перша</a>
                <a href="?page={{ page_obj.previous_page_number }}">попередня</a>
            {% endif %}
    
            <span class="current">
                Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">наступна</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">остання &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    

</body>
</html>